$color1: #1c1d21;
$color2: #9c9c9c;
$color3: #3e4244;
$color4: #1e55a9;
$color5: #f2f2f2;
$color6: #4acbd3;
$color7: #8181a5;
$color8: #dbdbdb;
$color9: #3bb2bb;
$color10: rgba(93, 142, 146, 0.08);
$color11: #eeeeee80;
$color12: rgba(75, 84, 88, 0.3);
$color13: #4acbd3;
$color14: rgba(62, 66, 68, 0.25);
$color15: rgba(30, 85, 169, 0.08);
$color16: rgba(77, 213, 222, 0.08);
$color17: rgba(234, 234, 234, 0.29);
$color18: rgba(242, 242, 242, 0.8);
$color19: #504b70;
$color20: #f2f6f6;
$color21: rgba(30, 85, 169, 0.2);
$color22: #5e81f4;
$color23: #eca0a0;
$color24: #4b40d1;
$color25: rgba(145, 150, 153, 1);
$color26: rgba(0, 0, 0, 0.87);
$color27: #e3e5e6;
$color28: #f0f0f3;
$color29: rgba(62, 66, 68, 1);
$color30: #f5f5fa66;
$color31: #7e8876;
$color32: #c26666;
$color33: #ececf2;
$color34: #4b5458;
$color35: #f0f3f3;
$color36: #f5f5fa;
$color37: #4dd5de;
$color38: #ff808b;
$color39: #25213b;
$color40: #eaeaea;
$color41: #7d859a;
$color42: #979797;
$color43: #E9EBF0;
$color50: rgba(50, 58, 70, 1);
$color51: rgba(141, 145, 152, 1);
$color52: #e0e0e0;
$color53: rgba(216, 216, 216, 0.25);
$color54: rgba(255, 255, 255, 1);
$color55: rgba(125, 133, 154, 0.08);
$color56: #5e6366;
$color57: rgba(196, 196, 196, 0.2);
$color58: rgba(242, 242, 242, 0.3);
$color59: rgba(151, 151, 151, 0.3);
$color60: #a4a7ad;
