$color1: #1c1d21;
$color2: #9c9c9c;
$color3: #3e4244;
$color4: #1e55a9;
$color5: #f2f2f2;
$color6: #4acbd3;
$color7: #8181a5;
$color8: #dbdbdb;
$color9: #3bb2bb;
$color10: rgba(93, 142, 146, 0.08);
$color11: #eeeeee80;
$color12: #3e4244;
$color13: rgba(75, 84, 88, 0.3);
