@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url(./bootstrap-grid.min.css);
@import url(./bootstrap-utilities.css);
@import "./_colors.scss";
@import url(./utilities.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: $color3;
}

a,
button {
  cursor: pointer;
}

#auth {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: $color6;

  @media screen and (max-width: 991px) {
    min-height: unset;
  }

  & > * {
    height: 100%;
  }

  .left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    background: #fff;
    z-index: 1;
    height: 100vh;
    width: 57%;
    min-height: 684px;
    @media screen and (max-width: 991px) {
      width: 100%;
      height: unset;
      border-radius: 0;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    &::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .main {
      margin: 4rem 0;
      min-height: 630px;
      overflow-y: auto;

      @media screen and (min-width: 576px) {
        width: 368px;
      }

      @media screen and (max-width: 991px) {
        min-height: unset;
      }
    }

    .form {
      margin-top: 4rem;

      .tos,
      .remember {
        * {
          font-weight: bold;
        }
      }
    }

    .social {
      margin-top: 4rem;

      .btn {
        margin-right: 1rem;
      }
    }
  }

  .right {
    height: 100%;
    width: 45.5%;
    position: absolute;
    top: 0;
    right: 0;
    top: 0;
    right: 0;
    overflow: hidden;

    @media screen and (max-width: 991px) {
      display: none;
    }

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
    // background-image: url("../img/hero-right-1.png");
    // background-size: cover;
    // background-position: right right;
  }
}

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

//  ********************************************************* DASHBOARD PAGE *********************************************************

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

#dashboard-main-content {
  .month-performances {
  }

  .row {
    height: 100%;
  }

  .card {
    height: 100%;

    .heading {
      margin-bottom: 35px;
    }

    &.stats {
      .top {
        font-weight: bold;
      }

      .bottom {
        font-size: 12px;
      }
    }

    &.performance {
      @media screen and (min-width: 1400px) {
        margin-left: 8px;
      }

      .item {
        margin-bottom: 25px;

        .percent {
          font-weight: bold;
          font-size: 22px;
          line-height: 1;
        }
      }
    }

    &.node-coin {
      margin-left: 7px;

      .top-info {
      }

      .tabs .tab {
        margin-left: 10px;
        margin-right: 10px;

        @media screen and (max-width: 575px) {
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      .chart-container {
        margin-top: 3.25rem;

        .additional {
          position: relative;

          .sub {
            position: absolute;
            top: 2.25rem;
          }
        }
      }
    }

    &.recently-viewed {
      height: unset;
      min-height: 510px;
    }
  }

  .logs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1399px) and (min-width: 1300px) {
      flex-direction: column;
    }

    @media screen and (max-width: 1050px) and (min-width: 992px) {
      flex-direction: column;
    }

    @media screen and (max-width: 575px) {
      flex-direction: column;
    }

    .card {
      width: 157px;
      height: 98px;
      padding-top: 25px;
      padding-bottom: 20px;

      @media screen and (min-width: 1681px) {
        width: 30%;
      }

      @media screen and (max-width: 1399px) and (min-width: 1300px) {
        width: 100%;
        margin-bottom: 0.75rem;
      }

      @media screen and (max-width: 1050px) and (min-width: 992px) {
        width: 100%;
        margin-bottom: 0.75rem;
      }

      @media screen and (max-width: 575px) {
        width: 100%;
        margin-bottom: 0.75rem;
      }

      .number {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0.25rem;
      }
    }
  }

  .card.clients {
    .table-card {
      td {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }
}

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

//  ********************************************************* CLIENT LIST PAGE *******************************************************

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

#client-list-main-content {
  table {
    th {
      text-align: left;
      font-family: 12px;

      &:last-child {
        text-align: right;
      }
    }
  }

  .label {
    position: relative;
    padding: 15px 10px;
    font-size: 12px;
    background-color: $color17;

    .sort-icon {
      position: absolute;
      left: -8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .client-card {
    position: relative;
    border-radius: 12px;
    padding: 25px 16px;
    padding-bottom: 20px;
    border: 1px solid $color5;
    height: 100%;
    cursor: pointer;
    min-height: 337px;

    .head {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .img {
        margin-right: 14px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        flex-shrink: 0;

        img {
          width: 100%;
          border-radius: 7px;
        }
      }

      .text {
        margin-top: 0.5rem;
      }
    }

    .body {
      margin-top: 34px;

      .section {
        margin-top: 22px;

        &.noded {
          min-height: 59px;
          position: absolute;
          bottom: 25px;
        }

        .text-bold {
          word-wrap: break-word;
        }
      }

      .btn {
        margin-top: 22px;
      }
    }
  }
}

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

//  ********************************************************* CLIENT OVERVIEW PAGE ***************************************************

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

#client-overview-main-content {
  .tabs .tab {
    @media screen and (min-width: 670px) {
      margin-left: 40px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .user-jumbotron-container {
    @media screen and (min-width: 992px) {
      padding-right: 1.75rem;
    }

    @media screen and (min-width: 768px) {
      width: 68.5%;
    }
  }

  .garage-specs-container {
    // @media screen and (min-width: 992px) {

    // }

    @media screen and (min-width: 768px) {
      width: 31.5%;
    }
  }

  .user-jumbotron {
    background-color: $color5;
    padding: 14px 0;
    border-radius: 10px;

    .top {
      margin-left: 16px;

      .lock {
        width: 15px;
        height: 18px;
      }
    }

    .profile-info {
      padding: 0 52px;
      margin-top: 1rem;
      display: flex;
      align-items: center;

      @media screen and (max-width: 991px) {
        flex-direction: column;
      }

      @media screen and (max-width: 1440px) {
        padding: 0 25px;

        & > * {
          margin-bottom: 2rem;
        }
      }

      .left {
        width: 120px;

        .img {
          position: relative;
          width: 108px;
          height: 108px;
          border-radius: 50%;
          background-color: $color23;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;

            border-radius: 6px;
          }

          .badge {
            position: absolute;
            padding: 4px 10px;
            font-weight: 600;
            color: #fff;
            background-color: $color24;
            border-radius: 4px;
            bottom: -17px;
          }
        }

        .social {
          margin-top: 2.25rem;
          display: flex;
          justify-content: center;
          align-items: center;

          .btn {
            background-color: $color15;
            width: 36px;
            height: 36px;
            margin-right: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .right {
        flex-grow: 1;
        margin-left: 90px;

        @media screen and (max-width: 1440px) {
          margin-left: 45px;
        }

        @media screen and (max-width: 991px) {
          margin-left: 0;
        }

        .user-name,
        .location {
          @media screen and (max-width: 991px) {
            text-align: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .garage-card {
    @media screen and (min-width: 992px) {
      padding-left: 40px;
    }

    .desc-p {
      max-width: 188px;
    }

    .section {
      margin-top: 1rem;
    }
  }

  .listing {
    .list-item {
      display: flex;
      justify-content: space-between;

      & > * {
        border-bottom: 1px solid $color27;
        flex-grow: 1;
        padding: 16px 0 12px;
      }

      .order-num {
        padding-left: 10px;

        .round-box {
          margin-right: 0.75rem;
        }
      }

      .order-date,
      .order-price.price-1 {
        margin: 0 18px;
      }

      .order-date {
        max-width: 90px;
      }

      .order-price {
        max-width: 78px;
        text-align: right;

        &,
        & * {
          font-family: "manrope", serif;
        }

        .price-text {
          position: relative;

          .price-sign {
            position: absolute;
            right: -22px;
            top: 60%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  .profiles-main {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    .left {
      @media screen and (max-width: 767px) {
        margin-bottom: 1rem;
      }
      .item {
        padding: 12px 20px;

        &.active {
          // background-color: $color15;
        }

        .img {
          width: 38px;
          height: 38px;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .text {
        margin-left: 16px;

        & > * {
          line-height: 1.1;
        }
      }
    }

    .right {
      margin-left: 34px;
      flex-grow: 1;

      .body {
        .section {
          padding: 13px 0 7px;
          border-bottom: 1px solid $color5;

          & > *:nth-child(1) {
            margin-bottom: 0.5rem;
            font-family: "manrope", sans-serif;
          }
        }
      }
    }
  }

  .last-work-orders {
    .listing-container {
      overflow-y: auto;

      .listing {
        min-width: 320px;
      }
    }
  }

  .profiles-container {
    @media screen and (min-width: 1440px) {
      padding-left: 4rem;
    }

    .title,
    .left .item {
      @media screen and (min-width: 992px) {
        padding-left: 1.75rem;
      }
    }
  }

  .tabs.client-overview-tabs {
    max-width: 584px;
  }

  .client-overview-tabs {
    .title-container > * {
      padding-bottom: 1rem;
    }

    .title {
      border-bottom: 1px solid $color5;
      min-width: 266px;

      @media screen and (max-width: 99px) {
        padding-left: 0;
      }
    }
  }

  .invoices-wrapper {
  }

  .invoices-main {
    padding-right: 3rem;

    @media screen and (min-width: 992px) {
      max-width: 578px;
    }

    @media screen and (max-width: 992px) {
      padding-right: 1.5rem;
    }
  }

  @media screen and (max-width: 575px) {
    .listing-container {
      overflow-y: auto;

      .listing {
        min-width: 425px;
      }
    }
  }

  .requests-list-container {
    overflow-y: auto;

    .requests-list {
      min-width: 660px;
    }
  }

  .requests-list {
    .requests-list-item {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;
      border-bottom: 1px solid $color5;

      .mini-info {
        display: flex;
        align-items: center;
      }

      .more-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 350px;

        .badge-container {
          min-width: 100px;

          .btn.badge {
            border-radius: 25px;
            padding: 2px 7px;
            color: #fff;
            font-weight: 400;
          }
        }

        .prod-name {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

//  ********************************************************* FINANCES INVVOICE PAGE ***************************************************

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

.finances-invoice-main-content {
  input {
    padding: 10px;
    background-color: $color30;
    border: none;
    outline: none;
    font-family: "Manrope", sans-serif;
    width: 490px;
  }
  .add-new-btn {
    p {
      font-family: "Lato", sans-serif;
      font-weight: 900;
    }
  }
  .dummy-data {
    .invoice-details {
      .box {
        width: 52px;
        height: 52px;
        border-radius: 8px;
        background-color: $color5;
      }
    }
    .invoice-number {
      color: $color3;
      font-family: "Manorope", sans-serif;
      font-weight: 200;
      font-size: 20px;
      line-height: 24px;
    }
    .date {
      font-family: "Lato", sans-serif;
      color: $color1;
      font-size: 16px;
      line-height: 24px;
    }
    .pic-name {
      img {
        border-radius: 6px;
        overflow: hidden;
      }
      p {
        color: $color1;
        font-size: 16px;
        line-height: 24px;
        font-family: "Lato", sans-serif;
      }
    }
    .is-paid {
      div {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        width: 114px;
        height: 36px;
        background: linear-gradient(0deg, rgba(159, 168, 144, 0.08), rgba(88, 109, 54, 0.08)), #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
      }
      .paid {
        color: $color31;
      }
      .unpaid {
        color: $color32;
      }
    }
    .price {
      font-family: "Manrope", sans-serif;
      font-weight: 200;
      font-size: 20px;
      line-height: 24px;
      text-align: right;
      color: $color3;
    }
    .del {
      width: 36px;
      height: 36px;
      border: 1px solid #F2F2F2;
      border-radius: 8px;
    }
  }
}
