@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url(./bootstrap-grid.min.css);
@import url(./bootstrap-utilities.css);
@import "./_colors.scss";
@import url(./utilities.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: $color3;
}

a,
button {
  cursor: pointer;
}

#signup {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & > * {
    height: 100%;
  }

  .left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    background: #fff;
    z-index: 1;
    height: 100vh;
    overflow-y: auto;
    width: 57%;

    .main {
      margin: 4rem 0;
    }

    .form {
      margin-top: 4rem;

      .custom-form-control {
        margin: 2rem 0;

        .input {
          position: relative;

          input {
            font-weight: 600;
            padding: 0.25rem 0 0.5rem;
            border: 0;
            border-bottom: 1px solid $color5;
            width: 100%;
          }

          img {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      .tos {
        * {
          font-weight: bold;
        }
      }
    }

    .social {
      margin-top: 4rem;

      .btn {
        margin-right: 1rem;
      }
    }
  }

  .right {
    width: 45.5%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-size: cover;
    background: $color6;

    .main {
      background-image: url("../images/hero-right-1.png");
      background-size: cover;
      // content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
    }
  }
}
