@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url(./bootstrap-grid.min.css);
@import url(./bootstrap-utilities.css);
@import url(./utilities.scss);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #3e4244;
}

a,
button {
  cursor: pointer;
}

#signup {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4acbd3;
}

@media screen and (max-width: 991px) {
  #signup {
    min-height: unset;
  }
}

#signup > * {
  height: 100%;
}

#signup .left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  background: #fff;
  z-index: 1;
  height: 100vh;
  width: 57%;
  min-height: 684px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

@media screen and (max-width: 991px) {
  #signup .left {
    width: 100%;
    height: unset;
    border-radius: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

#signup .left::-webkit-scrollbar {
  width: 2px;
}

#signup .left::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#signup .left::-webkit-scrollbar-thumb {
  background: #888;
}

#signup .left::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#signup .left .main {
  margin: 4rem 0;
  min-height: 630px;
  overflow-y: auto;
}

@media screen and (min-width: 576px) {
  #signup .left .main {
    width: 360px;
  }
}

@media screen and (max-width: 991px) {
  #signup .left .main {
    min-height: unset;
  }
}

#signup .left .form {
  margin-top: 4rem;
}

#signup .left .form .tos *,
#signup .left .form .remember * {
  font-weight: bold;
}

#signup .left .social {
  margin-top: 4rem;
}

#signup .left .social .btn {
  margin-right: 1rem;
}

#signup .right {
  height: 100%;
  width: 45.5%;
  position: absolute;
  top: 0;
  right: 0;
  top: 0;
  right: 0;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  #signup .right {
    display: none;
  }
}

#signup .right img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

#dashboard-main-content .row {
  height: 100%;
}

#dashboard-main-content .card {
  height: 100%;
}

#dashboard-main-content .card .heading {
  margin-bottom: 35px;
}

#dashboard-main-content .card.stats .top {
  font-weight: bold;
}

#dashboard-main-content .card.stats .bottom {
  font-size: 12px;
}

@media screen and (min-width: 1400px) {
  #dashboard-main-content .card.performance {
    margin-left: 8px;
  }
}

#dashboard-main-content .card.performance .item {
  margin-bottom: 25px;
}

#dashboard-main-content .card.performance .item .percent {
  font-weight: bold;
  font-size: 22px;
  line-height: 1;
}

#dashboard-main-content .card.node-coin {
  margin-left: 7px;
}

#dashboard-main-content .card.node-coin .tabs .tab {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 575px) {
  #dashboard-main-content .card.node-coin .tabs .tab {
    margin-left: 5px;
    margin-right: 5px;
  }
}

#dashboard-main-content .card.node-coin .chart-container {
  margin-top: 3.25rem;
}

#dashboard-main-content .card.node-coin .chart-container .additional {
  position: relative;
}

#dashboard-main-content .card.node-coin .chart-container .additional .sub {
  position: absolute;
  top: 2.25rem;
}

#dashboard-main-content .card.recently-viewed {
  height: unset;
}

#dashboard-main-content .logs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1399px) and (min-width: 1300px) {
  #dashboard-main-content .logs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1050px) and (min-width: 992px) {
  #dashboard-main-content .logs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 575px) {
  #dashboard-main-content .logs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#dashboard-main-content .logs .card {
  width: 157px;
  height: 98px;
  padding-top: 25px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1399px) and (min-width: 1300px) {
  #dashboard-main-content .logs .card {
    width: 100%;
    margin-bottom: 0.75rem;
  }
}

@media screen and (max-width: 1050px) and (min-width: 992px) {
  #dashboard-main-content .logs .card {
    width: 100%;
    margin-bottom: 0.75rem;
  }
}

@media screen and (max-width: 575px) {
  #dashboard-main-content .logs .card {
    width: 100%;
    margin-bottom: 0.75rem;
  }
}

#dashboard-main-content .logs .card .number {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

#dashboard-main-content .card.clients .table-card td {
  padding-top: 12px;
  padding-bottom: 12px;
}
/*# sourceMappingURL=styles.css.map */