@import "./_colors.scss";

h1 {
  font-size: 32px;
  line-height: 42px;
  font-family: "DM Serif Display", serif;
  color: $color3;

  .dark {
    color: $color1;
  }
}

h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
}

.text-blue {
  color: $color4;
}

.text-cyan {
  color: $color13;
}

.title-text {
  font-family: "DM Serif Display", serif;
}

.sub-title-text {
  font-family: "Manrope", serif;
}

.lh-1 {
  line-height: 1;
}

.fs-42 {
  font-size: 42px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.text-light-1 {
  font-family: "Manrope", sans-serif;
  color: $color8;
}

.text-light-1 {
  font-family: "Manrope", sans-serif;
  color: $color7;
}

.btn {
  background: transparent;
  border: 0;
  transition: 0.4s ease;

  &.btn-primary {
    background: $color6;
    color: #fff;
    border-radius: 8px;
    padding: 1.125rem 4.5rem;
    line-height: 1;

    &:hover {
      background: $color9;
    }
  }

  &.btn-dark {
    background-color: $color3;
    color: #fff;
    padding: 14px 30px;
    display: inline-block;
  }
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  #sidenav,
  #content {
    height: 100%;
  }

  #sidenav {
    display: flex;
    justify-content: center;
    align-items: center;

    .small,
    .desc {
      padding-top: 38px;
      height: 100%;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 2px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }

    .small {
      width: 84px;
      background-color: $color3;
      text-align: center;

      .nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 3rem;

        .item {
          display: block;
          height: 64px;
          display: flex;
          justify-content: center;
          align-items: center;

          .img {
            position: relative;
            width: 48px;
            height: 48px;

            img {
              width: 23px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);

              &.active {
                opacity: 0;
              }

              &.inactive {
                opacity: 1;
              }
            }
          }

          &.active {
            .img {
              position: relative;
              background-color: #fff;
              border-radius: 5px;

              &::after {
                content: "";
                position: absolute;
                right: -17px;
                top: 0;
                width: 2px;
                height: 100%;
                background-color: #fff;
              }

              img {
                &.inactive {
                  opacity: 0;
                }

                &.active {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    .desc {
      position: relative;
      width: 389px;
      background-color: $color10;
      padding-left: 28px;
      padding-right: 28px;

      .main {
        position: relative;
      }

      .bg {
        position: absolute;
        bottom: 0;
        z-index: -1;
        // background-image: url("../vectors/sidenav-right-1.svg");
        // background-repeat: no-repeat;
        // background-position: center bottom;

        @media screen and (max-height: 920px) {
          position: sticky;
          opacity: 0.5;
        }
      }

      @media screen {
      }

      .hamburger {
        position: absolute;
        right: 40px;
        top: 38px;
      }

      .avatar {
        margin-top: 46px;
        background-color: $color6;
        width: 98px;
        height: 98px;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        align-items: center;

        .text {
          color: #fff;
        }
      }

      .explore {
        margin-top: 45px;

        .item {
          padding-top: 35px;
          padding-bottom: 14px;
          margin-bottom: 10px;

          .title {
            position: relative;

            &::after {
              content: "";
              position: absolute;
              bottom: -14px;
              height: 1px;
              width: 100%;
              border-top: 0.5px solid #3e4244;
            }

            .arrow {
              position: absolute;
              width: 29px;
              height: 29px;
              background-color: $color12;
              display: flex;
              justify-content: center;
              align-items: center;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              border-radius: 5px;
            }
          }
        }
      }
    }
  }

  #content {
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    overflow-y: auto;

    .page-heading {
      display: flex;
      align-items: center;
    }

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;
      // position: fixed;
      // top: 0;
      // right: 0;
      // width: 100%;
      // background-color: #fff;

      .info {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .custom-form-control {
          width: 260px;
        }

        .qr {
          margin-left: 50px;
          margin-right: 20px;
        }
      }
    }

    .body {
      // padding-top: 88px;
    }
  }
}

.custom-form-control {
  margin: 2rem 0;

  .input {
    position: relative;

    input {
      font-weight: 600;
      padding: 0.25rem 0 0.5rem;
      border: 0;
      border-bottom: 1px solid $color5;
      width: 100%;
    }

    img {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.radio-container,
.switch-container {
  height: 35px;
  display: flex;
  align-items: center;

  label * {
    margin-bottom: 0;
  }
}

.custom-form-control {
  input.custom-input {
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color2;
    }
  }
}

.custom-radio {
  position: relative;
  display: inline-block;
  padding-left: 2.25rem;
  padding-right: 1.5rem;
  cursor: pointer;
  user-select: none;

  &,
  & * {
    transition: 0.4s ease;
  }

  // &:hover {
  //   @media screen and (min-width: 769px) {
  //     input ~ .checkmark {
  //       background-color: $color4;
  //     }
  //   }
  // }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    & ~ .checkmark {
      transition: 0.4s ease;

      &::after {
        display: block;
        left: 50%;
        top: 50%;
        opacity: 0;
        transition: 0.4s ease;
      }
    }

    &:checked ~ .checkmark {
      // border-color: $color1;
      background-color: $color4;

      &::after {
        opacity: 1;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 20px;
    width: 20px;
    // border: 1px solid $color3;
    border-radius: 50%;
    transform: translateY(-50%);

    &::after {
      content: "";
      position: absolute;
      display: none;
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #fff;
      transform: translate(-50%, -50%);
    }
  }
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.card {
  border-radius: 10px;
  padding: 30px 20px;

  &.shadowed {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  &.grey {
    box-shadow: none;
    background: rgba(234, 234, 234, 0.29);
  }

  &.dark-blue {
    background-color: $color4;

    * {
      color: #fff;
    }
  }

  &.light-blue {
    background-color: $color15;

    * {
      color: $color4;
    }
  }

  &.cyan {
    background-color: $color16;

    * {
      color: $color6;
    }
  }

  .lg-head {
    .heading {
      margin-top: 35px;
    }
  }

  .max-width-head {
    max-width: 540px;
    margin-left: auto;
    padding: 0 2rem;
  }
}

.progress-bar {
  height: 14px;
  width: 100%;
  background-color: $color14;
  border-radius: 6px;

  .progress {
    background-color: $color3;
    height: 100%;
  }

  &,
  & .progress {
    border-radius: 6px;
  }
}

.table-card-wrap {
  margin-left: -20px;
  margin-right: -20px;
}

.table-card {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  thead {
    background-color: $color17;

    th {
      font-weight: normal;
    }
  }

  td,
  th {
    padding: 15px 28px;

    &:nth-child(1) {
      text-align: left;
      width: 65%;
      padding-right: 10px;
    }

    &:nth-child(2) {
      text-align: right;
      padding-left: 10px;
    }
  }

  td {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }

  tbody {
    tr:nth-child(1) {
      td {
        padding-top: 27px !important;
      }
    }

    tr {
      td {
        &:nth-child(1) {
        }

        &:nth-child(2) {
        }
      }
    }
  }

  .aligned {
    display: flex;
    align-items: center;

    .img {
      width: 53px;
      height: 53px;
    }

    .text {
      margin-left: 18px;
    }
  }
}

.tabs {
  border-bottom: 2px solid $color18;
  padding-right: 1rem;

  .tab {
    position: relative;
    padding: 0.5rem 0.75rem;
    background-color: transparent;
    border: none;

    &::after {
      opacity: 0;
      content: "";
      position: absolute;
      height: 2px;
      width: calc(100% - 0.75rem);
      background-color: $color19;
      left: 50%;
      bottom: -2px;
      transform: translateX(-50%);
    }

    &.active {
      color: $color19;
      font-weight: bold;

      &::after {
        opacity: 1;
      }
    }
  }
}
